In [2]:
import os
import zipfile
import pandas as pd

In [ ]:
import os
import zipfile
import pandas as pd

# Paths
zip_files = [
    "/content/DL_SelectFields 1998 April.zip",
    "/content/DL_SelectFields 1999 April.zip",
    "/content/DL_SelectFields 2000 April.zip",
    "/content/DL_SelectFields 2001 April.zip",
    "/content/DL_SelectFields 2002 April.zip",
]
output_csv = "April_Combined_Dataset.csv"

# Creating a list to store dataframes
dataframes = []

# Extracting and reading the zip files
for zip_file in zip_files:
    if zip_file.endswith(".zip"):
        zip_dir = os.path.dirname(zip_file)

        with zipfile.ZipFile(zip_file, 'r') as zip_ref:
            extract_path = os.path.join(zip_dir, "extracted")
            zip_ref.extractall(extract_path)

            for extracted_file in os.listdir(extract_path):
                if extracted_file.endswith(".csv"):
                    csv_path = os.path.join(extract_path, extracted_file)
                    df = pd.read_csv(csv_path)
                    dataframes.append(df)

# Combine all dataframes
if dataframes:
    combined_df = pd.concat(dataframes, ignore_index=True)
    combined_df.to_csv(output_csv, index=False)
    print(f"Combined dataset saved as {output_csv}")

Combined dataset saved as April_Combined_Dataset.csv

In [7]:
april_combined = pd.read_csv("/content/april_combined_dataset.csv")
april_combined.describe()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,DEP_TIME,DEP_DEL15,DEP_DELAY_GROUP,TAXI_OUT,WHEELS_OFF,ARR_DEL15,CANCELLED,CANCELLATION_CODE,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,DISTANCE,DISTANCE_GROUP
count,2.308855e+06,2308855.0,2308855.0,2.308855e+06,2.308855e+06,2.265411e+06,2.265411e+06,2.265411e+06,2.265411e+06,2.265252e+06,2.260670e+06,2.308855e+06,0.0,2.308855e+06,2.308842e+06,2.260670e+06,2.308855e+06,2.308855e+06
mean,2.000024e+03,2.0,4.0,1.550948e+01,3.940797e+00,1.350217e+03,1.594629e-01,4.676458e-02,1.524942e+01,1.371126e+03,1.992980e-01,1.881625e-02,NaN,2.053399e-03,1.271402e+02,1.258482e+02,7.439306e+02,3.447796e+00
std,1.394001e+00,0.0,0.0,8.655023e+00,2.001780e+00,4.840688e+02,3.661073e-01,1.707352e+00,1.009182e+01,4.867113e+02,3.994726e-01,1.358757e-01,NaN,4.526790e-02,6.962120e+01,7.019888e+01,5.629357e+02,2.225243e+00
min,1.998000e+03,2.0,4.0,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,-2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,NaN,0.000000e+00,-3.600000e+01,-3.900000e+01,2.100000e+01,1.000000e+00
25%,1.999000e+03,2.0,4.0,8.000000e+00,2.000000e+00,9.290000e+02,0.000000e+00,-1.000000e+00,1.000000e+01,9.430000e+02,0.000000e+00,0.000000e+00,NaN,0.000000e+00,7.500000e+01,7.300000e+01,3.280000e+02,2.000000e+00
50%,2.000000e+03,2.0,4.0,1.600000e+01,4.000000e+00,1.335000e+03,0.000000e+00,0.000000e+00,1.300000e+01,1.348000e+03,0.000000e+00,0.000000e+00,NaN,0.000000e+00,1.090000e+02,1.070000e+02,5.900000e+02,3.000000e+00
75%,2.001000e+03,2.0,4.0,2.300000e+01,6.000000e+00,1.742000e+03,0.000000e+00,0.000000e+00,1.800000e+01,1.757000e+03,0.000000e+00,0.000000e+00,NaN,0.000000e+00,1.600000e+02,1.590000e+02,9.870000e+02,4.000000e+00
max,2.002000e+03,2.0,4.0,3.000000e+01,7.000000e+00,2.400000e+03,1.000000e+00,1.200000e+01,1.439000e+03,2.400000e+03,1.000000e+00,1.000000e+00,NaN,1.000000e+00,6.700000e+02,8.500000e+02,4.962000e+03,1.100000e+01

In [8]:
april_combined.shape

(2308855, 23)

In [9]:
april_combined.YEAR.value_counts()

YEAR
2001    514187
2000    463263
1999    450620
1998    442644
2002    438141
Name: count, dtype: int64

In [10]:
april_combined.sample(10)

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,ORIGIN,ORIGIN_STATE_ABR,DEST,DEST_STATE_ABR,...,TAXI_OUT,WHEELS_OFF,ARR_DEL15,CANCELLED,CANCELLATION_CODE,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,DISTANCE,DISTANCE_GROUP
1796581,2001,2,4,26,4,UA,DCA,VA,ORD,IL,...,14.0,1212.0,0.0,0.0,NaN,0.0,120.0,117.0,612.0,3
689650,1999,2,4,17,6,NW,HOU,TX,MSP,MN,...,13.0,1109.0,0.0,0.0,NaN,0.0,166.0,158.0,1057.0,5
957203,2000,2,4,5,3,CO,IAH,TX,ORF,VA,...,18.0,1917.0,0.0,0.0,NaN,0.0,174.0,170.0,1201.0,5
171743,1998,2,4,12,7,UA,SFO,CA,SNA,CA,...,20.0,1144.0,0.0,0.0,NaN,0.0,90.0,85.0,372.0,2
575897,1999,2,4,9,5,WN,CLE,OH,BNA,TN,...,13.0,738.0,0.0,0.0,NaN,0.0,90.0,91.0,448.0,2
834880,1999,2,4,27,2,CO,SEA,WA,EWR,NJ,...,14.0,742.0,0.0,0.0,NaN,0.0,308.0,313.0,2401.0,10
1526566,2001,2,4,10,2,WN,HOU,TX,DAL,TX,...,4.0,1934.0,0.0,0.0,NaN,0.0,55.0,47.0,239.0,1
1974118,2002,2,4,8,1,AA,SJC,CA,DEN,CO,...,23.0,1309.0,0.0,0.0,NaN,0.0,164.0,151.0,949.0,4
132823,1998,2,4,9,4,WN,ONT,CA,OAK,CA,...,11.0,1812.0,1.0,0.0,NaN,0.0,70.0,70.0,362.0,2
586259,1999,2,4,10,6,UA,DEN,CO,LAX,CA,...,8.0,934.0,0.0,0.0,NaN,0.0,149.0,141.0,862.0,4

## Percentage of missing data points for each column

In [13]:
100*april_combined.isnull().sum()/april_combined.shape[0]

YEAR                     0.000000
QUARTER                  0.000000
MONTH                    0.000000
DAY_OF_MONTH             0.000000
DAY_OF_WEEK              0.000000
OP_UNIQUE_CARRIER        0.000000
ORIGIN                   0.000000
ORIGIN_STATE_ABR         0.000000
DEST                     0.000000
DEST_STATE_ABR           0.000000
DEP_TIME                 1.881625
DEP_DEL15                1.881625
DEP_DELAY_GROUP          1.881625
TAXI_OUT                 1.881625
WHEELS_OFF               1.888512
ARR_DEL15                2.086965
CANCELLED                0.000000
CANCELLATION_CODE      100.000000
DIVERTED                 0.000000
CRS_ELAPSED_TIME         0.000563
ACTUAL_ELAPSED_TIME      2.086965
DISTANCE                 0.000000
DISTANCE_GROUP           0.000000
dtype: float64

In [15]:
april_combined.drop(columns = ['CANCELLATION_CODE'], inplace = True)

In [17]:
april_combined.dropna(inplace = True)

In [18]:
april_combined.shape

(2260511, 22)

In [19]:
2260511 - 2308855

-48344